@media all and (max-width: 299px) {
    h1 {
        font-size: 1.3rem !important;
    }
    
    h2 {
        font-size: 0.4rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }       
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 10%;
    }

    p {
        font-size: 1.1rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.3rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 8% !important;
        height: 8% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .logo-projeto:hover {
        filter: invert(100%);
    }
}

@media all and (min-width: 300px) and (max-width: 359px) {
    h1 {
        font-size: 2.0rem !important;
    }
    
    h2 {
        font-size: 0.8rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 10%;
    }

    p {
        font-size: 1.1rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.3rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 8% !important;
        height: 8% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .logo-projeto:hover {
        filter: invert(100%);
    }
}

@media all and (min-width: 360px) and (max-width: 498px) {
    h1 {
        font-size: 2.6rem !important;
    }
    
    h2 {
        font-size: 1.13rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 10%;
    }

    p {
        font-size: 1.1rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.3rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 8% !important;
        height: 8% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .logo-projeto:hover {
        filter: invert(100%);
    }
}

@media all and (min-width: 499px) and (max-width: 599px) {
    h1 {
        font-size: 3.8rem !important;
    }
    
    h2 {
        font-size: 1.13rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 13%;
    }

    p {
        font-size: 1.1rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.3rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 8% !important;
        height: 8% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .logo-projeto:hover {
        filter: invert(100%);
    }
}

@media all and (min-width: 600px) and (max-width: 767px) {
    h1 {
        font-size: 3.9rem !important;
    }
    
    h2 {
        font-size: 1.13rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 13%;
    }

    p {
        font-size: 1.5rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.7rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 7% !important;
        height: 7% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    div#img-home img {
        filter: invert(100%);
    }
}

@media all and (min-width: 768px) and (max-width: 780px) {
    h1 {
        font-size: 5.5rem !important;
    }
    
    h2 {
        font-size: 1.13rem !important;
    }

    .margin-h1 {
        margin-left: 35px;
    }
        
    .margin-h2 {
        margin-left: 37px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-5px);
        filter: invert(100%);
    }
    
    .ajuste-logo {
        margin-right: 13%;
    }

    p {
        font-size: 1.5rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.7rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }

    .logo-projeto {
        width: 5% !important;
        height: 5% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .logo-projeto:hover {
        filter: invert(100%);
    }
}

@media all and (min-width: 781px) and (max-width: 1000px) {
    h1 {
        font-size: 5.3rem !important;
    }
    
    h2 {
        font-size: 2.12rem !important;
    }

    .margin-h1 {
        margin-left: 70px;
    }
        
    .margin-h2 {
        margin-left: 72px;
    }

    .logos-home {
        width: 6% !important;
        height: 6% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-7px);
        filter: invert(100%);
    } 
    
    .ajuste-logo {
        margin-right: 11%;
    }

    p {
        font-size: 1.5rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.7rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }
}


@media all and (min-width: 1001px) and (max-width: 1200px) {
    h1 {
        font-size: 8rem !important;
    }
    
    h2 {
        font-size: 2.12rem !important;
    }

    .margin-h1 {
        margin-left: 70px;
    }
        
    .margin-h2 {
        margin-left: 72px;
    }

    .logos-home {
        width: 5% !important;
        height: 5% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-7px);
        filter: invert(100%);
    } 
    
    .ajuste-logo {
        margin-right: 4%;
    }

    .logo-projeto {
        width: 5% !important;
        height: 5% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    p {
        font-size: 1.2rem !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
    }
    
    strong p {
        font-size: 1.4rem !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 900;
        text-transform: uppercase !important;
    }
}

@media all and (min-width: 1201px) and (max-width: 1400px) {
    h1 {
        font-size: 9rem !important;
    }
    
    h2 {
        font-size: 2.12rem !important;
    }

    .margin-h1 {
        margin-left: 70px;
    }
        
    .margin-h2 {
        margin-left: 72px;
    }

    .logos-home {
        width: 5% !important;
        height: 5% !important;
        margin-left: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .logos-home:hover {
        transform: translateY(-7px);
        filter: invert(100%);
    } 
    
    .ajuste-logo {
        margin-right: 10%;
    }

    .logo-projeto {
        width: 6% !important;
        height: 6% !important;
        margin-left: 15px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
}
