* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase !important;
}

h1 {
    font-size: 10rem !important;
}

.margin-h1 {
    margin-left: 135px;
}

h2 {
    font-size: 2rem !important;
}

.margin-h2 {
    margin-left: 142px;
}

p {
    font-size: 1.4rem !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    margin-bottom: 2px !important;
    color: white;
}

strong p {
    font-size: 1.7rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase !important;
}

.img-projetos {
    width: 100% !important;
    height: 100% !important;
}

.no-gutters {
    margin: 0 !important;
    padding: 0 !important;
}

.logos-home {
    width: 4% !important;
    height: 4% !important;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logos-home:hover {
    transform: translateY(-10px);
    filter: none !important;
}

div#img-home img {
    filter: invert(100%);
}

.ajuste-logo {
    margin-right: 10%;
}

.animacao-home {
    animation: animacao 2s steps(40);
}

@keyframes animacao {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.degrade-page1 {
    background: rgb(9, 70, 121);
    background: linear-gradient(180deg, rgba(9, 70, 121, 1) 35%, rgba(90, 212, 255, 1) 100%);
}

.degrade-page2 {
    background: rgb(9, 70, 121);
    background: linear-gradient(360deg, rgba(9, 70, 121, 1) 35%, rgba(90, 212, 255, 1) 100%);
}

.logo-projeto {
    width: 4% !important;
    height: 4% !important;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: invert(100%);
}

.logo-projeto:hover {
    filter: none;
}